In [1]:
import pandas as pd

url = 'https://stats.govt.nz/assets/Uploads/Annual-enterprise-survey/Annual-enterprise-survey-2020-financial-year-provisional/Download-data/annual-enterprise-survey-2020-financial-year-provisional-size-bands-csv.csv'
df = pd.read_csv(url, index_col=0)

In [2]:
df.head()

,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
year,,,,,,
2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)

In [ ]:
import random

In [ ]:
str(int(random.random()*10000)) + "_df.csv"

'9831_df.csv'

In [ ]:
file_name = str(int(random.random()*10000)) + "_df.csv"

In [ ]:
df.to_csv(file_name,index = False)